.Pizzas {
  border: 1px solid #e6e6e6;
}

.PizzaHeaderRow {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #44107a;
  color: #ffffff;
  font-size: 32px;
}
